<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Login Form</title>
  <link rel="stylesheet" href="__PUBLIC__/style/css/style2.css">
  <!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>
<img border='0' src='__PUBLIC__/images/background.jpg' width='100%' height='100%' style='position: absolute;left:0px;top:0px;z-index: -1'>
  <section class="container">
  <center><img src="__PUBLIC__/images/logo.png" alt="" width="350px"></center>
    <div class="login">
      <h1>企业注册</h1>
      <form method="post" action="registerok">
        <p><input type="text" name="e_phone" id="e_phone" value="" placeholder="手机号" ><font color="red"><span id='s1'></span></font></p>
        <p>验证码：<input type="text" name="verify" id=""><input type="button" class="verify_num" value="获取验证码" id="verity_num" style="display: block"/></p>
        <p><input type="password" name="e_pwd" id="e_pwd" value="" placeholder="密码"><font color='red'><span id='s2'></span></font></p>
        <p class="remember_me">
          <label>
             <p class="submit"></p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" name="commit" id="commit" value="注册">
          </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="index">已有账号去登陆！！</a>
        </p>
       
      </form>
    </div>
<script type="text/javascript" src="__PUBLIC__/style/js/jquery.js"></script>
<script>
$(function(){
$('#e_phone').click(function(){
$('#e_phone').val('');
});
//验证用户名
$('#e_phone').blur(function(){
var username=$('#e_phone').val();
if(username==''){
$('#s1').html('手机号不能为空');
}else{
var a=/^1[3|4|5|8]\d{9}$/; 
if(!a.test(username)){
    $('#s1').html('手机号格式不正确');
  }else{
    $('#s1').html('');
  }
}

});
$('#e_pwd').blur(function(){
var password=$('#e_pwd').val();
if(password==''){
$('#s2').html('密码不能为空');
}else{
$('#s2').html('');
}
});
$(document).ready(function(){  
        $(":submit[id=commit]").click(function(check){  
            var val = $(":text[id=e_phone]").val();  
            if(val==""){   
                $('#s1').html("<font color='red'>手机号不能为空</font>");
                $(":text[id=e_phone]").focus();  
                check.preventDefault();//此处阻止提交表单  
            } 
            var vals = $(":password[id=e_pwd]").val();     
               if(vals==""){   
                $('#s2').html("<font color='red'>密码不能为空</font>");
                $(":text[id=e_pwd]").focus();  
                check.preventDefault();//此处阻止提交表单  
            }      
        });  
    });  
});
</script>
<script language="javascript">
  $(document).on('click','#stu',function(){
        var $that = $(this);
        $("#nostu").css("background",'none');
        $that.css("background",'#dedede');
        $('.admin_input').css('display','none');
        $('.user_input').css('display','block');
    });
    $(document).on('click','#nostu',function(){
        var $that = $(this);
        $("#stu").css("background",'none');
        $that.css("background",'#dedede');
        $('.user_input').css('display','none');
        $('.admin_input').css('display','block');
    });
    $(document).on('blur','#phone',function(){
        var phone = $(this).val();
        var tel = /^[1][3|5|8]\d{9}$/;
        if(tel.test(phone)){
            $.getJSON("__URL__/useronly",{phone:phone},function(obj){
                if(obj == 1){
                    flag = 'new';
                    $('#ver').css('display','block');
                    $('#verity_num').css('display','block');
                }else{
                    flag = 'old';
                    $('#ver').css('display','none');
                    $('#verity_num').css('display','none');
                }
            });
        }else{
            $('#ver').css('display','none');
            $('#verity_num').css('display','none');
        }
    });
    $(document).on('click','#verity_num',function(){
        var phone = $('#e_phone').val();
        $.getJSON("__URL__/verify",{phone:phone},function(obj){
            if(obj == 100){
                alert('验证码发送成功，请及时查收，1分钟后失效！');
            }else if(obj == 108){
                alert('手机号码发送太频繁，请换号或隔天再发');
            }else{
                alert('验证码发送失败，请及时联系客服！');
            }
        });
    });
    $(document).on('click','#sub',function(){
        var phone = $('#phone').val();
        var tel = /^[1][3|5|8]\d{9}$/;
        var veri = /^\d{6}$/;
        var verify = $('#verify').val();
        if(tel.test(phone)){
            if(flag == 'new'){
                if(!veri.test(verify)){
                    alert("请正确填写验证码");
                    return false;
                }
            }
        }
    });
</script>
    
  </section>

</body>
</html>
