<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title></title>
	<link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet" />
 <!-- basic styles -->
<link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="__PUBLIC__/css/font-awesome.min.css" />

<!--[if IE 7]>
  <link rel="stylesheet" href="__PUBLIC__/css/font-awesome-ie7.min.css" />
<![endif]-->

<!-- page specific plugin styles -->

<!-- fonts -->

<link rel="stylesheet" href="http://fonts.useso.com/css?family=Open+Sans:400,300" />

<!-- ace styles -->

<link rel="stylesheet" href="__PUBLIC__/css/ace.min.css" />
<link rel="stylesheet" href="__PUBLIC__/css/ace-rtl.min.css" />
<link rel="stylesheet" href="__PUBLIC__/css/ace-skins.min.css" />

<!--[if lte IE 8]>
  <link rel="stylesheet" href="__PUBLIC__/css/ace-ie.min.css" />
<![endif]-->

<!-- inline styles related to this page -->

<!-- ace settings handler -->

<script src="__PUBLIC__/js/ace-extra.min.js"></script>

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

<!--[if lt IE 9]>
<script src="__PUBLIC__/js/html5shiv.js"></script>
<script src="__PUBLIC__/js/respond.min.js"></script>
<![endif]-->
</head>
<body>
	<ul class="nav nav-list">
				<li class="active">
					<a href="index.html">
						<i class="icon-dashboard"></i>
						<span class="menu-text"> 招聘控制台 </span>
					</a>
				</li>
	<li>
					<a href="#" class="dropdown-toggle">
						<i class="icon-desktop"></i>
						<span class="menu-text"> 企业管理 </span>

						<b class="arrow icon-angle-down"></b>
					</a>

					<ul class="submenu">
						<li>
							<a href="__APP__/Home/Enterprise/index">
								<i class="icon-double-angle-right"></i>
								企业
							</a>
						</li> 

					</ul>
				</li>  
				<li>
					<a href="#" class="dropdown-toggle">
						<i class="icon-desktop"></i>
						<span class="menu-text"> 简历管理 </span>

						<b class="arrow icon-angle-down"></b>
					</a>

					<ul class="submenu">
						<li>
							<a href="__CONTROLLER__/../resume/resume">
								<i class="icon-double-angle-right"></i>
								学生简历
							</a>
						</li> 

					</ul>
				</li>  

				<li>
					<a href="#" class="dropdown-toggle">
						<i class="icon-desktop"></i>
						<span class="menu-text"> 条件搜索管理 </span>

						<b class="arrow icon-angle-down"></b>
					</a>

					<ul class="submenu">
						<li>
							<a href="__CONTROLLER__/../condition/position">
								<i class="icon-double-angle-right"></i>
								职位
							</a>
						</li> 

						<li>
							<a href="__CONTROLLER__/../condition/experience">
								<i class="icon-double-angle-right"></i>
								经验
							</a>
						</li> 

						<li>
							<a href="__CONTROLLER__/../condition/salary">
								<i class="icon-double-angle-right"></i>
								薪资
							</a>
						</li> 

					
					 
				</li>  
				</ul>
			</ul><!-- /.nav-list -->

			<div class="sidebar-collapse" id="sidebar-collapse">
				<i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
			</div>
</body>
</html>