<input type="hidden" value="" name="userid" id="userid" />

<script type="text/javascript" src="__PUBLIC__/style/js/company_list.min.js"></script>
<script>

</script>       	
<div class="clear"></div>
<input type="hidden" id="resubmitToken" value="" />
<a id="backtop" title="回到顶部" rel="nofollow"></a>
</div><!-- end #container -->
</div><!-- end #body -->
<div id="footer">
<div class="wrapper">
<a href="h/about.html" target="_blank" rel="nofollow">联系我们</a>
<a href="h/af/zhaopin.html" target="_blank">互联网公司导航</a>
<a href="http://e.weibo.com/lagou720" target="_blank" rel="nofollow">企聘王微博</a>
<a class="footer_qr" href="javascript:void(0)" rel="nofollow">企聘王微信<i></i></a>
<div>&nbsp;&nbsp;&nbsp;&nbsp;2013-2014 qipin <a target="_blank" href="http://www.miitbeian.gov.cn/state/outPortal/loginPortal.action">京ICP备14023790号-2</a></div>
</div>
</div>

<script type="text/javascript" src="__PUBLIC__/style/js/core.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/style/js/popup.min.js"></script>

<!--  -->

</body>
</html>